
<img src="/images/logo-decida.svg" class="center">
<p class="center3">Decida seu voto aqui com a gente!, nao vote na bestia.</p>
<p class="center2">Talvez você já tenha decidido seu voto neste 2º turno. Talvez ainda esteja em dúvida sobre quem representa melhor o país que você quer. Ou talvez tenha a sensação de que ambos se distanciam do que você acredita...</p>

<p>Queremos te ajudar a decidir seu voto à Presidência da República de forma ágil e bem fundamentada!</p>

<p>Abaixo, dez perguntas rápidas e diretas sobre temas determinantes para os rumos do Brasil. Responda e saiba qual candidato se aproxima mais do país em que você deseja viver ao longo dos próximos quatro anos.</p>

<form method="POST" action='/' >
    {{#each questions as |question question_index|}}
    <div class="form-group">
      <div class="row">
        <div class="col-6">
          <label for="question_{{id}}"><strong>{{add question_index 1 }}) {{question.name}}</strong></label>
        </div>
        <div class="col-4">
          {{#each question.positions as |position position_index| }}

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="question_{{question.id}}" id="answer_question_{{position.id}}" value="{{position.id}}">
                <label class="form-check-label"  for="answer_question_{{id}}">
                  {{label}}
                </label>
              </div>
          {{/each}}
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="answer_question_{{position.id}}" name="question_{{question.id}}">
            <label class="form-check-label" for="answer_question_{{id}}">
              Não sei
            </label>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  <button type="submit" class="btn btn-primary">Ver resultados</button>
</form>
