  <div class="parallax">
    <div class="container">

    <div class="col-md-4 center" >
      <div class="hero_img">
        <img src="/images/logo-decida.svg" alt="">
      </div>
    </div>

    <div class="banner_content row">
      <div class="col-lg-12">
        <p class="center2">Queremos te ajudar a decidir seu voto à Presidência da República de forma ágil e bem fundamentada!</p>
        <p class="center3">Abaixo, onze perguntas rápidas e diretas sobre temas determinantes para os rumos do Brasil. Responda e saiba qual candidato se aproxima mais do país em que você deseja viver ao longo dos próximos quatro anos.</p>
      </div>

      <section id="section01" class="demo">
        <a href="#section02"><span></span></a>
      </section>

    </div>
  </div>
</div>

<div id="section02">

<form id='formulario_perguntas' method="POST" action='/' >
    {{#each questions as |question question_index|}}
    <div class="form-group">
      <div class="row">
        <div class="col-6">
          <label for="question_{{id}}">{{add question_index 1 }}) {{question.name}}</label>
        </div>
        <div class="col-6">
          {{#each question.positions as |position position_index| }}

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="question_{{question.id}}" id="answer_question_{{position.id}}" value="{{position.id}}">
                <label class="form-check-label"  for="answer_question_{{id}}">
                  <i class="fas fa-{{ extra_class }}"></i>
                  {{label}}
                </label>
              </div>
          {{/each}}
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="nao_sei_answer_question_{{question.id}}" name="question_{{question.id}}" required>

            <label class="form-check-label" for="nao_sei_answer_question_{{question.id}}">
            <img src="/images/question.png">  Não sei
            </label>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
    <div class="alert alert-warning invisible" role="alert">
      Você precisa marcar pelo menos uma resposta como sim ou não.
    </div>
  <button type="submit" class="btn btn-primary">Ver resultados</button>
</form>
</div>
