<div class="parallax">
  <div class="container">

  <div class="row justify-content-md-center candidate-result">

      <div class="jumbotron text-center">
          <img src="{{result.candidato.image}}" class="candidate">
      </div>

      <h1 class="display-4 text-center">{{result.candidato.name}}</h1>

      <div class="text-center" style="color:black !important;">
        <a class="btn btn-outline-primary btn-sm" onclick="ga('send', 'event', 'nav-facebook-share', 'click');" href="//www.facebook.com/sharer/sharer.php" title="Seu resultado" target="_blank">
        <span class="fa-stack fa-lg">
        <i class="fab fa-facebook"></i>
        </span>
        </a>
        <a class="btn btn-outline-success btn-sm" onclick="ga('send', 'event', 'nav-whatsapp-share', 'click');" href="https://wa.me/?text={{encodeURI 'Oi! Uma equipe de pesquisadores e analistas de políticas públicas criou um ‘match’ para ajudar indecisos nessa reta final, perguntando sobre os temas essenciais das propostas do Bolsonaro e do Haddad. É rápido, fácil de usar e bem imparcial. *São só 10 perguntas e você descobre seu candidato.* Acesse aqui e repasse para os seus indecisos: http://bit.ly/DecidaSeuVoto'}}" target="_blank">
        <span class="fa-stack fa-lg">
        <i class="fab fa-whatsapp"></i>
        </span>
        </a>
      </div>

  </div>

  <div class="row candidate-result text-center">
    <button class="btn btn-2 btn-lg text-center" data-toggle="modal" data-target="#entendaSeuResultado" role="button">
      <i class="fas fa-info-circle"></i> Entenda seu resultado</button>
        <a class="btn btn-3 btn-lg" href="/" role="button"><i class="fas fa-chevron-left"></i> Voltar</a>
  </div>
  <div class="row justify-content-md-center candidate-result">
    <a class="btn btn-primary btn-lg" href="https://drive.google.com/drive/u/0/folders/1kx7QZC_hmsyPme_WKqpVwknrFRv-3f1O" role="button"><i class="fas fa-list"></i> Compare os candidatos</a>
  </div>

  <div class="modal fade" id="entendaSeuResultado" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Entendendo o Resultado</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p style="font-size:1.3em">Você e {{result.candidato.name}} têm <span class="lead percentage">{{#round result.percentage}}{{/round}}%</span> de compatibilidade.</p>
          <p style="font-size:0.9em">As coisas em comum são:</p>
          {{#each result.questions as |question question_index|}}
            <p  style="font-size:0.9em" class="pergunta-concordante">{{question.position_text}}</p>
            <p  style="font-size:0.9em"class="resposta-concordante">Você e {{../result.candidato.name}} concordam que {{downcase question.position_label}}.</p>
          {{/each}}
        </div>
      </div>
    </div>
  </div>

</div>
</div>
